@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Playfair+Display&display=swap');

@media(min-width:300px)and (max-width:580px){
.container-logo {
  text-align: center;
}
#logo{
  margin-top: 5vh;
  width: 35vh;
}
.pLogin{
  text-align: center;
  font-family: 'Cardo', serif;
  font-size: 3.5vh;
  color: #13311F;
}
.formLogin{
  display: flex;
  align-items: center;
  flex-direction: column;
 }
 .labelLogin{
 text-align: center;
 font-family: 'Cardo', serif;
 color:#13311F;
 font-size: 2.8vh;
 margin-bottom: -2vh;
 }
 .inputLogin{
   width: 40vh;
   height: 4vh;
   border: 0.3vh solid #13311F;
   border-radius: 3vh;
   background-color: #13311f00;
 }
 .inputLogin::placeholder{
   color: #b45d32;
   font-family: 'Playfair Display', serif;
   font-size: 2vh;
 }
 .buttonLogin{
   margin-top: 2vh;
   width: 40vh;
   height: 5vh;
   background-color: #D86F3C;
   border-style: none;
   border-radius: 3vh;
   font-size: 2.8vh;
   color: #13311F;
   font-family: 'Cardo', serif;
 }
}

@media(min-width:581px) and (max-width:750px){
  .container-logo {
    text-align: center;
  }
  #logo{
    margin-top: 5vh;
    width: 37vh;
  }
  .pLogin{
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 40px;
    color: #13311F;
  }
  .formLogin{
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .labelLogin{
   text-align: center;
   font-family: 'Cardo', serif;
   color:#13311F;
   font-size: 30px;
   margin-bottom: -2vh;
   }
   .inputLogin{
     width: 40vh;
     height: 4vh;
     border: 0.3vh solid #13311F;
     border-radius: 3vh;
     background-color: #13311f00;
   }
   .inputLogin::placeholder{
     color: #b45d32;
     font-family: 'Playfair Display', serif;
     font-size: 18px;
   }
   .buttonLogin{
     margin-top: 2vh;
     width: 40vh;
     height: 5vh;
     background-color: #D86F3C;
     border-style: none;
     border-radius: 3vh;
     font-size: 2.8vh;
     color: #13311F;
     font-family: 'Cardo', serif;
   }
 }

@media(min-width:751px) and (max-width:950px){
  .container-logo {
    text-align: center;
  }
  #logo{
    margin-top: 5vh;
    width: 37vh;
  }
  .pLogin{
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 35px;
    color: #13311F;
  }
  .formLogin{
   display: flex;
   align-items: center;
   flex-direction: column;
  }
  .labelLogin{
  text-align: center;
  font-family: 'Cardo', serif;
  color:#13311F;
  font-size: 30px;
  margin-bottom: -2vh;
  }
  .inputLogin{
    width: 40vh;
    height: 4vh;
    border: 0.3vh solid #13311F;
    border-radius: 3vh;
    background-color: #13311f00;
  }
  .inputLogin::placeholder{
    color: #b45d32;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
  }
  .buttonLogin{
    margin-top: 2vh;
    width: 40vh;
    height: 5vh;
    background-color: #D86F3C;
    border-style: none;
    border-radius: 3vh;
    font-size: 2.8vh;
    color: #13311F;
    font-family: 'Cardo', serif;
  }
}
@media(min-width:951px){
  .container-logo {
    text-align: center;
  }
  #logo{
    margin-top: 5vh;
    width: 37vh;
  }
  .pLogin{
    text-align: center;
    font-family: 'Cardo', serif;
    font-size: 35px;
    color: #13311F;
  }
  .formLogin{
   display: flex;
   align-items: center;
   flex-direction: column;
  }
  .labelLogin{
  text-align: center;
  font-family: 'Cardo', serif;
  color:#13311F;
  font-size: 30px;
  margin-bottom: -2vh;
  }
  .inputLogin{
    width: 40vh;
    height: 4vh;
    border: 0.3vh solid #13311F;
    border-radius: 3vh;
    background-color: #13311f00;
  }
  .inputLogin::placeholder{
    color: #b45d32;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
  }
  .buttonLogin{
    margin-top: 2vh;
    width: 40vh;
    height: 5vh;
    background-color: #D86F3C;
    border-style: none;
    border-radius: 3vh;
    font-size: 2.8vh;
    color: #13311F;
    font-family: 'Cardo', serif;
  }
}